/* ------------------------------------------------
Nav Link hover effect
------------------------------------------------ */
.nav-link{
  transition: transform 0.2s, color 0.3s;
}

.nav-link:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transform: rotate(10deg);
    background-color: var(--primary-color);
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.2);
}

.introduction, .left{
    margin-top: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}
.support-text{
    width: 50%;
}



.social-links-icons{
    font-size: 30px;
}

.project-card {
    position: relative;
    overflow: hidden;
  }

  .project-card img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }

  .project-card:hover img {
    /* transform: scale(1.1);  */
    /* Example: Increase image size on hover */
  }
  .project-card img {
          border-radius: 8px;
  }

  .overlay {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: rgba(42, 89, 132, 0.745); /* Transparent black overlay */
    color: #fff;
    /* text-align: center; */
    padding: 10px;
    transition: bottom 0.4s ease;
  }

  .overlay p{
    color: white;
  }
  .overlay h6{
    color: white;
  }

  .project-card:hover .overlay {
    bottom: 0;
  }

  .circle {
    width: 10px;
    height: 10px;
    background-color: #3498db;
    border-radius: 50%;
    /* margin-right: 10px; */
  }

  .hr {
    flex-grow: 0.1;
    border: none;
    height: 2px;
    background-color: #3498db;
    margin-top: 0;
    margin-bottom: 0;
    width: 0px;
  }

@media screen and (max-width: 991px) {
    .introduction, .left{
        text-align: center;
    }
    .support-text{
        width: 100%;
    }
    
}

/* irregular shape below header */
main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px; /* Adjust the height of the wave */
    background-color: #3498db; /* Background color of the wave */
    clip-path: polygon(0 0, 100% 90%, 100% 100%, 35% 100%);
  }

.multicolored-line {
    height: 10px; /* Adjust the thickness of the line */
    width: 100%;
    display: flex;
  }

  .color-block {
    flex-grow: 1;
    height: 100%;
  }

/* Experience timeline */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0px auto;
  padding: 20px;
}

.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background-color: #3498db; /* Line color */
  transform: translateX(-50%);
  z-index: 0;
}

.event {
  position: relative;
  margin-bottom: 50px;
  padding: 20px;
  /* background-color: #fff; */
  border: 1px solid #3498db; /* Card border color */
  border-radius: 10px;
  z-index: 1;
}

.event:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.date {
  font-weight: bold;
  color: #3498db;
}

/* footer line */
  /* Set individual colors for each block */
  .color-block:nth-child(1) { background-color: #3498db; }
  .color-block:nth-child(2) { background-color: gray; }
  .color-block:nth-child(3) { background-color: #3498db; }
  .color-block:nth-child(4) { background-color: gray; }
/* footer line */



